<div class="col">
  <% #raise %>
  <% runs.each do|run| %>
    <% location = run.location %>
    <% unless run.status == 'completed' %>
      <% weather_api = WeatherApi.new(location, DateTime.new(run.start_time.year, run.start_time.month, run.start_time.day, run.start_time.hour, run.start_time.min, run.start_time.sec, run.start_time.zone)) %>
      <% weather_for_this_location = weather_api.get_weather %>
    <% end %>
    <%= link_to run_path(run), class: "card-run", style: 'text-decoration: none;' do %>
      <%= cl_image_tag run.location.photos.first.key, class: "rounded-3" %>
      <div class="d-flex flex-column card-run-infos align-items-center">
        <div class="d-flex flex-column pt-3 card-run-text text-start ms-1">
          <h5><strong><%= run.start_time.strftime("%a, %B %d") %></strong></h5>
          <h6 class="d-flex"><strong class="me-2"><%= run.start_time.strftime("%H:%M") %></strong> <span><%= run.location.name %></span></h6>
        </div>
        <div class="d-flex pt-1 w-100 card-run-weather-info">

          <div class="me-3">
            <% w = run.weather_description %>
            <% if w.include? "cloud" %>
              <i class="fa-solid fa-cloud"></i> Cloudy
            <% elsif w.include? "rainy" %>
              <i class="fas fa-cloud-showers-heavy"></i> Rainy
            <% else %>
              <i class="fa-solid fa-sun me-1"></i> Sunny
            <% end %>
          </div>
          <div><i class="fa-solid fa-temperature-high me-1"></i>
          <% unless run.status == 'completed' %>
            <%= weather_for_this_location["temperature"] %>
          <% else %>
            <%= run.temperature %>
          <% end %>
          <span>&#176;</span>C</div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
