<div data-controller="editpage">
  <div class="bg-gradient m-0" data-controller="scheduled" data-url="https://www.google.com">
    <div class="run-image">
      <%= render 'runs/show_carousel', run: @run %>
    </div>
    <div data-scheduled-target="bgcolor" class="container-fluid vh-100 pt-3 <%= @scheduled ? "bg-scheduled" : "bg-suggested" %> ">
      <div data-scheduled-target="text" class="d-flex justify-content-between mx-3 card-date-time <%= "text-warning" if @scheduled %>">
      </div>
      <%= render 'runs/location_date_card', run: @run %>
      <div class ="d-flex flex-column text-primary p-3 card-location-info">
        <h1 class="border-bottom w-100"><strong><%= @run.location.name %></strong></h1>
        <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Less">
          <p class="my-content" data-read-more-target="content">
            <%= @run.location.description %>
          </p>
          <button class="btn btn-link-primary" data-action="read-more#toggle">Read more</button>
        </div>
      </div>
      <%= render 'runs/weather_show_card', run: @run %>
    </div>
  </div>
  <div class="edit_container_div d-flex justify-content-center align-items-center" data-editpage-target="edit">
    <%= render 'edit_form', run: @run %>
  </div>
</div>
